@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bellefair', serif;
  color: #FFF;
  font-size: 18px;
  background-color: #0B0D17;
  overflow: hidden;
}